CompileFlags:
  CompilationDatabase: .
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mtext-section-literals
    - -ffunction-sections
    - -fdata-sections
    - -march=*
    - -mfix-esp32-psram-cache-*
  Add:
    - -Wno-unknown-attributes
    - -Wno-unknown-pragmas
    - -ferror-limit=200

Diagnostics:
  Suppress:
    - pp_file_not_found
    - attribute_section_invalid_for_target
    - redefinition_different_typedef
    - block_on_nonlocal
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
  ClangTidy:
    Add:
      - modernize-*
      - bugprone-*
      - performance-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers
      - readability-identifier-length
